In [2]:
import sqlite3
import csv

In [3]:
conn=sqlite3.connect('data/db/my_database.db')

In [3]:
cursor=conn.cursor()

In [4]:
# cursor.execute("""CREATE TABLE cheese_production (
# Year INTEGER,
# Period TEXT,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Domain TEXT,
# Value INTEGER
# );""")


# cursor.execute("""CREATE TABLE honey_production (
# Year INTEGER,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Value INTEGER
# );""")


# cursor.execute("""CREATE TABLE milk_production (
# Year INTEGER,
# Period TEXT,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Domain TEXT,
# Value INTEGER
# );""")


# cursor.execute("""CREATE TABLE coffee_production (
# Year INTEGER,
# Period TEXT,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Value INTEGER
# );""")


# cursor.execute("""CREATE TABLE egg_production (
# Year INTEGER,
# Period TEXT,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Value INTEGER
# );""")


# cursor.execute("""CREATE TABLE state_lookup (
# State TEXT,
# State_ANSI INTEGER
# );""")


# cursor.execute("""CREATE TABLE yogurt_production (
# Year INTEGER,
# Period TEXT,
# Geo_Level TEXT,
# State_ANSI INTEGER,
# Commodity_ID INTEGER,
# Domain TEXT,
# Value INTEGER
# );""")

# conn.commit()

In [ ]:
# table_names = ['cheese_production', 'honey_production', 'milk_production', 'coffee_production', 'egg_production', 'yogurt_production','state_lookup']

# for table_name in table_names:
#     with open(f'{table_name}.csv', 'r') as file:
#         csv_reader = csv.reader(file)
#         header = next(csv_reader) # Skip header row if present
#         data_to_insert = []
#         for row in csv_reader:
#             data_to_insert.append(row)
#         placeholders = ', '.join(['?' for _ in header])
#         insert_sql = f"INSERT INTO {table_name} VALUES ({placeholders})"
#         cursor.executemany(insert_sql, data_to_insert)
#         conn.commit()

In [ ]:
# table_names = ['cheese_production', 'honey_production', 'milk_production', 'coffee_production', 'egg_production', 'yogurt_production']
# for table_name in table_names:
#     cursor.execute(f"UPDATE {table_name} SET value = REPLACE(value, ',', '')")

# conn.commit()

In [44]:
cursor.execute("SELECT State_ANSI from (SELECT h.State_ANSI FROM honey_production as h, milk_production as m WHERE h.Year=2022 AND m.Year=2022 AND h.State_ANSI=m.State_ANSI) as a where a.State_ANSI=1;")
table= cursor.fetchall()
table

[(1,)]

In [49]:
cursor.execute("SELECT SUM(y.Value) FROM yogurt_production as y, cheese_production as c WHERE y.Year=2022 AND c.Year=2022 AND y.State_ANSI=c.State_ANSI;")
table= cursor.fetchall()
table

[(15224235000,)]

In [74]:
cursor.execute("SELECT SUM(Value) FROM milk_production WHERE Year=2023;")
table= cursor.fetchall()
table

[(91812000000,)]

In [54]:
cursor.execute("SELECT a.State_ANSI, a.Value FROM (SELECT State_ANSI, Value FROM cheese_production WHERE Year = 2023 AND Period = 'APR') as a where a.Value>100000000;")
table= cursor.fetchall()
table

[(6, 208807000), ('', 215206000), (55, 289699000)]

In [75]:
cursor.execute("SELECT SUM(Value) FROM coffee_production WHERE Year=2011;")
table= cursor.fetchall()
table

[(7600000,)]

In [57]:
cursor.execute("SELECT AVG(Value) FROM honey_production WHERE Year = 2022;")
table= cursor.fetchall()
table

[(3133275.0,)]

In [73]:
cursor.execute("SELECT State_ANSI FROM state_lookup WHERE State='FLORIDA';")
table= cursor.fetchall()
table

[(12,)]

In [83]:
cursor.execute("SELECT total_value, State_ANSI FROM (SELECT sum(Value) as total_value, State_ANSI FROM cheese_production GROUP BY State_ANSI) as a WHERE State_ANSI in (SELECT State_ANSI FROM state_lookup WHERE State='NEW JERSEY');")
table= cursor.fetchall()
table

[(2069941000.0, 34)]

In [62]:
cursor.execute("SELECT SUM(Value) FROM yogurt_production WHERE Year=2022 and State_ANSI in (SELECT State_ANSI FROM cheese_production WHERE Year=2023);")
table= cursor.fetchall()
table

[(1171095000,)]

In [64]:
cursor.execute("SELECT COUNT(State_ANSI) FROM state_lookup WHERE State_ANSI NOT IN (SELECT State_ANSI FROM milk_production WHERE Year=2023);")
table= cursor.fetchall()
table

[(26,)]

In [68]:
cursor.execute("SELECT * FROM cheese_production WHERE Year=2023 and State_ANSI in (SELECT State_ANSI FROM state_lookup WHERE State='DELAWARE');")
table= cursor.fetchall()
table

[]

In [72]:
cursor.execute("SELECT AVG(Value) FROM coffee_production WHERE Year in (SELECT Year FROM honey_production WHERE value>1000000);")
table= cursor.fetchall()
table

[(6426666.666666667,)]